.btn-margin {
  margin: 7px 3px;
}

.question {
  background-color: rgba(0,0,0,0.1);
  padding: 1%;
  border-style: none none double double;
  border-color: white;
  border-radius: .5% !important;
}

.submit {
  margin-top: 1%;
  /* width: 100%; */
  margin-left: auto;
    margin-right: auto;
}

.container {
  padding-bottom: 1%;
}

.form {
  text-align: center;
}

.description {
  text-align: center;
}

.shareButton {
  cursor: pointer;
}

.shareButton:hover:not(:active) {
  opacity: 0.75;
}

.shareButtonsContainer {
  vertical-align: top;
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}

.picture {
  border-radius: 3% !important;
}

.grow {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grow:hover {
  overflow: hidden;
	-webkit-transform: scale(1.015);
	transform: scale(1.035);
}

.growDark {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.growDark:hover {
  background-color: rgb(197, 197, 207) !important;
  overflow: hidden !important;
	-webkit-transform: scale(1.015);
	transform: scale(1.010);
}

.ratingContainer {
  background-color: 'gray';
}

.btn.active, .btn:active {
  text-decoration: underline;
  background-color: black !important;
}

.categoryHeader {
  background-color: blanchedalmond;
  text-align:'left' !important;
  width:'99%';
  font-family:'monospace';
}